<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.zadatak">


    <!--
    Posto zelimo da pozivamo servis samo kada smo povezani sa WIFI-jem
    moramo dodati prava nasoj aplikaciji:
        1) da moze da se poveze na internet
        2) da moze da proveri trenutno stanje povezanosti na mrezu
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--
    Posto zelimo da pisemo odnosno citamo iz skladista podataka moramo traziti i
    odredjena dopustenja od strane operativnog sistema
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_main_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_settings_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">

        </activity>

    </application>

</manifest>
